* {
    margin: 0;
    padding: 0;
}
body{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color:#484848;
  font-size: 20px;
  background-color: #FFFFFF;
  width: 100%;
  overflow-x: hidden;
}
h2{
  font-size:40px;
}
.header_image{
  background-color:#FAFAFA;
}
.main_img{
  width: 100%;
  display: inline-block;
  z-index: -1;
}
.logo{
  margin-left: 20px;
  margin-top:20px;

}
.logo_br{
  width: 70px;
  height: 70px;
  z-index: 10;
}
.header{
  display: flex;
  background-color:#727BBA;
  justify-content: space-between;
  left:0;
  right:0;
  top:0;
  z-index:99;
}
ul {
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
  z-index: 100;
}

ul li {
  margin: 0px -7px 0 0;
  display:inline-block;
}
/* ul li ul li{
  z-index: 1000;
  width: 300px;
  height: 130px;
  
} */
/* .egjjgeijge{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color:#5C64A3;
  height: 130px;
  padding-top: 5px;
} */
a {
  display:block;
  padding: 0 0 0 10px;
  color:#FFF;
  font-size:20px;
 
  text-decoration:none;
} 
ul ul {   
  /* display: none; */
  pointer-events: none;
  opacity: 0;
  position: absolute;
  transition: opacity 0.7s ease;
}
			
			/* отображаем выпадающий список при наведении */
ul li:hover > ul {
  display:inherit;
  opacity: 1;
  pointer-events: auto;
}
			
			/* первый уровень выпадающего списка */
ul ul li {	    
  width: 300px;
  display:list-item;
  position: relative;
  list-style: none;
}

.grgree{
  position: relative;
  left:-300px;
  height: 9px;
  width: 1000px;
  opacity: 0;
  background-color: #727BBA;
  z-index: 1000;
}
.r3434_1{
  position: absolute;
  top: 0;
  left: 307px; 
}
.r3434_2{
position: absolute;
  top: 0;
  left: 110px; 
}
.r3434_3{
position: absolute;
  top: 0;
  left: -90px; 
}
.r3434{
  margin-top:9px;
  padding-top:10px;
  margin-left: -50vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color:#5C64A3;
  
  height: 90px;
}

.r3434 li{
  margin-bottom: 10px;
  position: relative;
  left:-81px;
  width: 230px;
  height: 30px;
  display: flex;
  cursor: pointer;
  margin-left: 30px;
}
.r3434 li .prost{
  margin-left: 8px;
  font-size: 15px;
  margin-top: 5px;
  color:white;
  display: block;
  height: 20px;
  margin-bottom:20px;
  transform:translateY(-0px)
}
.r3434 li:hover{
  background-color: #727BBA;
}
.r3434 img{
  width: 30px;
  height: 30px;
} 
.prkg4:hover{
  background-color:#626BAD;
}
.bord1{
  border-radius: 15px 0 0 0;
}
.bord3{
  border-radius: 0 15px 0 0;
  margin-left: 3px;
}
.prkg4{
  width: 200px;
  z-index: 1000;
}
.prkg4::after{
  pointer-events: none;
  content:"";
  position:absolute;
  width: 1px;
  height: 25px;
  background-color: #8990C6;
  top: 0px;
  left: 200px;
}
.accommodation_content:hover .grgr{
  opacity: 1;
}
.accommodation_content{
  width: 210px;
}
.prkg4::before{
  content:"";
  position:absolute;
  width: 1px;
  height: 25px;
  background-color: #8990C6;
  top: 0px;
  left: 400px;
}
.grrge3{
  margin-left: 3px;
}
.fixed{
  width: 100%;
  position:fixed;
  top:-20px;
}

.table_of_contents{
  align-items: center;
  margin-top: 60px;
  width: 600px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}
.search{
  margin-right: 50px;
  margin-top: 40px;
  color:white;
}
.header_image{
  position: relative;
}
a{
  cursor:pointer;
}
.voice{
  position:absolute;
  top:50%;
  left:20%;
  font-size: 30px;
}
.content{
  display: flex;
  justify-content: space-around;
  background-color:#FAFAFA;
  margin-bottom: 60px;
}
.content_br_header{
  margin-bottom:15px;
}
.content_top{
  font-size: 30px;
  font-weight: 50;
}
.content_both{
  margin-top: 40px;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  overflow: hidden;
  height: 0;
  transition: height 2s ease-in-out;
}

.botton_content_both{
  font-size: 20px;
  border:2px solid #009FB9;
  border-radius: 5px;
  background-color: #ffffff;
  width: 200px;
  height: 50px;
  cursor: pointer;
  color: #009FB9;
  margin-top:10px;
  margin-bottom: 100px;
}

.center{
  text-align: center;
}
.video_text{
  margin-bottom: 130px;
}
.content_br{
  width: 700px;

}
.video_text{
  display: flex;
  justify-content: space-around;
}
.video_text_text{
  margin-top: 20px;
  font-size: 23px;
  font-weight: normal;
}
.video_text_left{
  
  width: 600px;
}
.video_text_right{
  margin-top: 40px;
  width: 500px;
}
span{
  display: none;
}
.to_visit{
  background-color: #FAFAFA;
}
.to_visit_header{
  text-align:center;
  margin-bottom: 30px;
}
.to_visit_cards{
  display: flex;
  justify-content: space-around;
  position: relative;
}
figcaption{
  position:absolute;
  top: 50px;
  padding:30px;
}
figcaption p{
  font-weight:100;
}
figcaption h4{
  font-size: 25px;
  color:#ffffff;
}
.to_visit_cards_1{
  cursor: pointer;
  border-radius: 20px;
}
.to_visit_cards_1:hover{
  background-color: #003b46;
  height: 375px;
}
.to_visit_cards_img:hover{
  opacity: 0.4;
}

.to_visit_cards_img{
  width: 250px;
  border-radius: 20px;
  /* width: -webkit-calc(250 + 20px); */
	/* width: calc(100% + 20px); */
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.to_visit_cards_1 p{
  color:#c4dfe6;
  padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
.hover-text-one figcaption::before,
.hover-text-one figcaption::after {
	pointer-events: none;
}
.to_visit_cards_1 figcaption{
  backface-visibility:hidden;
  pointer-events: none;
}
.to_visit_cards_1 h4::after{
  position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
.to_visit_cards_1 h4{
  position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}
.to_visit_cards_1:hover h4::after{
  -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.to_visit_cards_1:hover p{
  opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.must_exp_cards{
  display: flex;
  justify-content: space-around;
}
.must_exp_cards_img{
  width: 250px;
  border-radius: 20px;
}
.must_exp_header{
  margin-left: 3%;
  margin-bottom: 25px;
  margin-top: 100px;
}
.map{
  width: 100%;
  height: 500px;
}
.debugMaps{
  width: 100%;
  height: 48px;
  background-color: #ffffff;
  position:absolute;
}
footer{
  position: relative;
}
.contact_info{
  width: 1000px;
  z-index: 1000;
  display: flex;
  color:white;
  justify-content:space-around;
  font-weight: 100;
  font-family: "Lato",sans-serif;
}
.navigation{
  z-index: 10;
}
.contact{
 z-index: 10;
}
.onas{
  z-index: 10;
}
.footer_img_real{
  position:absolute;
  margin-top: -18px;
  opacity: 0.4;
  width: 100%;
  height: 500px;
}
.footer::before{
  content:"";
  width: 100%;
  height: 500px;
  margin-top: -18px;
  position:absolute;
  background-color: #003b46;
}

.slider {
  margin-left:auto;
  margin-right: auto;
  left: -425px;
  position:relative;
  height:1000px;
  width:450px;
}

.slider img {
  z-index: -1;
  position:absolute;
  left:0;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
  width: 1300px;
  height: 1000px;
}
.imgZ{
  z-index: 10;
  position:absolute;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  color:white;
  bottom: 500px;
  left: 30%;
  opacity: 0;
  transition: opacity 2s ease;
}
.imgZ1{
  opacity: 1;
}
.imgZ_active{
  opacity: 1;
}
/* .slider img.img2:hover {
  opacity:0;
} */
.imgsmena{
    opacity:0;
}